<html>

<head>
	<title>Transactions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div th:insert="headerFragment.html ::header('Transactions')"></div>
	</div>
	<br /><br />
	<h2>Add Transactions</h2>
	<br />
	<br />
	<form action="#" th:action="@{/saveTransaction}" th:object="${transaction}" method="POST">

		<!-- Add hidden form field to handle update -->
		<input type="hidden" th:field="*{id}" />
		<label>Date
			<input type="date" th:field="*{date}" class="form-control mb-4 col-4">
		</label>
		<label>
			Description
			<input type="text" size="100" placeholder="Groceries..." required="true" th:field="*{description}">
		</label>
		<br />
		<label>Category
			<select th:field="*{category}">
				<option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}">
				</option>
			</select>
		</label>
		<label>Account
			<select th:field="*{account}">
				<option th:each="account : ${accountList}" th:value="${account.id}" th:text="${account.name}"></option>
			</select>
		</label>
		<br />
		<label>Amount
			<input type="text" inputmode="numeric" th:field="*{amount}"  required="true" placeholder="0.0" class="form-control mb-4 col-4" />
		</label>
		<label>Type
		<select th:field="*{transactionType}">
			<option th:each="transactionType:${transactionTypes}" th:value="${transactionType.name}"
				th:text="${transactionType.name}" />
		</select>
		</label>
		<br /><br />
		<button class="addButtonClass" type="submit">Add Transaction</button>
		<br />
	</form>
	<br />
	<a th:href="@{/Transactions}">Back to Transactions List</a>
	<br />

	<br />
	<h3>Recent Transactions</h3>
	<div th:insert="transactions/ListTransactionsFragment ::transactionListFragment(false)"></div>
</body>

</html>