
<section
	th:fragment="transactionListFragment(showUpdateDelete, categoryId, monthYear, month)">
	<div>
		<section id="headerNav" th:insert="~{common/Navigation :: navigation}" />
	</div>
	<table style="width: 100%" border="1">
		<thead>
			<tr>
				<th th:replace="~{common/sorting :: sorting('date','Date')}"></th>
				<th
					th:replace="~{common/sorting :: sorting('description','Description')}"></th>
				<th
					th:replace="~{common/sorting :: sorting('explanation','Explanation')}"></th>
				<th th:replace="~{common/sorting :: sorting('account','Account')}"></th>
				<th th:replace="~{common/sorting :: sorting('category','Category')}"></th>
				<th th:replace="~{common/sorting :: sorting('currency','Currency')}"></th>
				<th th:replace="~{common/sorting :: sorting('amount','Amount')}"></th>
				<th
					th:replace="~{common/sorting :: sorting('transactionType','Type')}"></th>
				<th th:if=${showUpdateDelete}>Update</th>
				<th th:if=${showUpdateDelete}>Delete</th>
				<th th:if=${showUpdateDelete}>Split</th>
				<th th:if=${showUpdateDelete}>Mark Transfer</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="transaction : ${transactions}">
				<td th:text="${#dates.format(transaction.date, 'dd/MM/yyyy HH:mm')}"></td>
				<td th:text="${transaction.description}"></td>
				<td th:text="${transaction.explanation}"></td>
				<td th:text="${transaction.account.name}"></td>
				<td th:text="${transaction.category.name}"></td>
				<td th:text="${transaction.currency}"></td>
				<td align="right"
					th:text="${transaction.getFormattedBalance()}">
				</td>
				<td th:text="${transaction.transactionType}"></td>
				<td th:if=${showUpdateDelete} align="center"><a
					th:href="@{/showFormForTransactionUpdate/{id}(id=${transaction.id})}+'/'+${monthYear}+'/'+${month}+'?page='+${currentPage}"
					class="update-delete-button">Update</a></td>
				<td th:if=${showUpdateDelete} align="center"><a
					th:href="@{/deleteTransaction/{id}(id=${transaction.id})}+'/'+${monthYear}+'/'+${month}+'?page='+${currentPage}"
					class="update-delete-button">Delete</a></td>
				<td th:if=${showUpdateDelete} align="center"><a
					th:href="@{/splitTransaction/{id}(id=${transaction.id})}+'/'+${monthYear}+'/'+${month}+'?page='+${currentPage}"
					class="update-delete-button">Split</a></td>
				<td th:if=${showUpdateDelete} align="center"><a
					th:href="@{/openTransferPage/{id}(id=${transaction.id})}+'/'+${monthYear}+'/'+${month}+'?page='+${currentPage}"
					class="update-delete-button">Transfer</a></td>
			</tr>
		</tbody>
	</table>
	<section th:insert="~{common/Navigation :: navigation}" />
	<div class="" th:unless="${transactions.size() > 0}">
		<span>No Transactions found!</span>
	</div>

</section>