<html>

<head>
	<title>Transactions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div th:insert="headerFragment.html ::header('Transactions')"></div>
	</div>
	<br /> <br />
	<h2>Transaction List</h2>
	<br />
	<hr />
	<br />
	<div id="monthNav">
		<table>
			<tr>
				<td>
					<div th:if="${param.categoryId} !=null">
						<form th:action="'/Transactions/'+${previousMonthYear}+'/'+${previousMonth}" method="GET">
							<input type="hidden" name="categoryId" th:value="${param.categoryId}" />
							<button type="submit">Previous Month</span></button>
						</form>
					</div>
					<div th:unless="${param.categoryId} !=null">
						<form th:action="'/Transactions/'+${previousMonthYear}+'/'+${previousMonth}" method="GET">
							<button type="submit">Previous Month</span></button>
						</form>
					</div>
				</td>
				<td>
					<form th:action="@{/Transactions}" method="GET">
						<button type="submit">Current Month</button>
					</form>
				</td>
				<td>
					<div th:if="${param.categoryId} !=null">
						<form
							th:action="'/Transactions/'+${nextMonthYear}+'/'+${nextMonth}+'?categoryId='+${param.categoryId}"
							method="GET">
							<input type="hidden" name="categoryId" th:value="${param.categoryId}" />
							<button type="submit">Next Month</button>
						</form>
					</div>
					<div th:unless="${param.categoryId} !=null">
						<form th:action="'/Transactions/'+${nextMonthYear}+'/'+${nextMonth}" method="GET">
							<button type="submit">Next Month</button>
						</form>
					</div>

				</td>
			</tr>
		</table>
	</div>
	<br /> <br />
	<div>
		<div th:if="${param.categoryId} !=null">
			<div th:insert="transactions/ListTransactionsFragment ::transactionListFragment(false)"></div>
		</div>
		<div th:unless="${param.categoryId} !=null">
			<br />
			<button type="button" th:onclick="|window.location.href='/addnewTransaction'|">Add Transaction</button>
			<br /><br />
			<div th:insert="transactions/ListTransactionsFragment ::transactionListFragment(true)"></div>
		</div>
	</div>
	<hr>

	<body>
	</body>

</html>