<html>
<head th:include="header.html ::header"></head>
<body>
	<div>
		<div th:insert="TopNavigation.html ::topNavigation('Transactions')"></div>
	</div>
	<div class="container">
		<h2>Update Transactions</h2>
		<hr><br /><br />
		<form action="#" th:action="@{/saveTransaction}" th:object="${transaction}" method="POST">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" name="oldAmount" th:value="*{amount}" />
			<label for="date">Date</label>
			<input type="datetime-local" th:field="*{date}" />
			<br />
			<label for="description">Description</label>
			<input type="text" th:field="*{description}" size="100" />
			<br />
			<label for="category">Category</label>
			<select th:field="*{category}">
				<option th:each="category : ${CategoryList}" th:value="${category.id}" th:text="${category.name}">
				</option>
			</select>
			<label for="account">Account</label>
			<select th:field="*{account}">
				<option th:each="account : ${accountList}" th:value="${account.id}" th:text="${account.name}"></option>
			</select>
			<br />
			<label for="amount">Amount</label>
			<input type="text" th:field="*{amount}" placeholder="0.0" class="form-control mb-4 col-4" />
			<br />
			<label for="transactionType">Transaction Type</label>
			<select th:field="*{transactionType}">
				<option th:each="transactionType:${transactionTypes}" th:value="${transactionType.name}"
					th:text="${transactionType.name}" />
			</select>
			<br /><br />
			<button type="submit" class="btn btn-info col-2">Update Transaction</button>
		</form><br />
		<hr> <br /><br /><br />

		<a th:href="@{/Transactions}">Back to Transactions List</a>
	</div>
</body>

</html>