body{
    background-image: url(http://localhost:8080/background.png)
}

.accountTypeTable{
    background: #ccf2ff;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
table {
  width: 100%;
  font-family: Helvetica;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #fff;
}
tr {
  border-bottom: 1px solid #ccc;
}
th, td {
  text-align: left;
  padding: 8px 10px;
}

table, th, td {
  border: 1px solid black;
}
.addAccountTypeButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 20px;
}
.accountTypeIdCol{
    width:20%;
}

.accountTypeNameCol{
    width:15%;
}

.accountTypeDescCol{
    width:40%;
}

.accountTypeIdActionCol{
    width:25%;
}

.deleteAccountTypeButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.updateAccountTypeButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.saveAccountTypeButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.cancelUpdateButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}
