.categoriesTypeTable{
    background: #ccf2ff;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.categoryTable{
     background: #ccf2ff;
     height: 50%;
     width: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     padding: 10px;
 }
.addCategoryButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 20px;
}
.categoryIdCol{
    width:20%;
}

.categoryNameCol{
    width:15%;
}

.categoryDescCol{
    width:40%;
}

.categoryIdActionCol{
    width:25%;
}

.deleteCategoryButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.updateCategoryButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.saveCategoryButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}

.cancelUpdateButton{
    background-color: #008CBA;
    padding: 12px 28px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}
