<html>

<head>
	<title>Institutions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<div>
		<div th:insert="headerFragment.html ::header('Categorys')"></div>
	</div>
	<h2>Add Category</h2>
	<form action="#" th:action="@{/saveCategory}" th:object="${category}" method="POST">
		<input type="text" th:field="*{name}" placeholder="Category Name" class="form-control mb-4 col-4">
		<select th:field="*{parentCategory}">
				<option th:value="0" selected value=" " text="Please Select">Please Select</option>
				<option th:each="category1 : ${CategoryList}" th:value="${category1.id}"
					th:attr="showselected=(${category1.id} == *{parentCategory})"
					th:text="${category1.name}"></option>
			</select>						
		<button type="submit" class="btn btn-info col-2">Save Category</button>

	</form>
	<hr>
	<a th:href="@{/Categorys}">Back to Category List</a>
	<h2>Existing Category</h2>
	<br /><br />
	<div id="categoriesDiv">
		<section th:include="@{category/categoryFragment} :: categoryFragment" th:with="headerCategories=${CategoryList[0]}">
		</section>
	</div>	
</body>

</html>