<html>
<head th:include="header.html ::header"></head>

<body>
	<div>
		<div th:insert="TopNavigation.html ::topNavigation('Categorys')"></div>
	</div>
	<h3>Category List</h3>
	<br />
	<hr>
	<br />
	<button class="addButtonClass" type="button" th:onclick="|window.location.href='/addnewCategory'|">Add
		Category</button>
	<br />
	<br />
	<div id="categoriesDiv">
		<section th:include="@{category/categoryFragment} :: categoryFragment"
			th:with="headerCategories=${categoryList}"></section>
	</div>
	<hr>
	<a th:href="@{/Categorys}">Back to Category List</a>
</body>

</html>