<html>
<head th:include="header.html ::header"></head>
<body>
	<div id="header"
		th:insert="TopNavigation.html ::topNavigation('Categorys')"></div>
	<div id="content">
		<h2>Update Category</h2>
		<form action="#" th:action="@{/saveCategory}"
			th:object="${category}" method="POST">
			<table>
				<tr>
					<td><input type="hidden" th:field="*{id}" /></td>
					<td><input type="text" width="80%" th:field="*{name}">
					</td>
					<td><select th:field="*{parentCategory}">
							<option th:value="0" text="Please Select">Please Select</option>
							<option th:each="category1 : ${categorys}"
								th:value="${category1.id}"
								th:attr="showselected=(${category1.id} == *{parentCategory})"
								th:text="${category1.name}"></option>
					</select></td>
					<td>
						<button type="submit"  class="btn btn-info">Update Category</button>
					</td>

				</tr>
			</table>
		</form>
		<br/>
		<form
			th:action="@{/deleteCategory/{id} (id=${category.id})}"
			th:object="${category}" method="GET">
			<table>
				<tr>
					<td>
						<button type="submit" class="btn btn-info">Delete
							Category</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<hr>
	<a th:href="@{/Categorys}">Back to Category List</a>
</body>

</html>