
<th:block th:fragment="header">
	<meta charset="ISO-8859-1" />
	<title>Personal Finance Tracker</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
	<link href="/assets/css/common.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</th:block>