<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1" />
	<title>My Finance App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
	<script type="text/javascript" th:src="@{/assets/js/tree.js}"></script>

</head>

<body>
	<div>
		<div th:insert="headerFragment.html ::header('home')"></div>
			
		</div>
		<div id="monthNav">
			<table>
				<tr>
					<td>
						<form th:action="'/home/'+${previousMonthYear}+'/'+${previousMonth}" method="GET">
							<button type="submit">Previous Month</button>
						</form>
					</td>
					<td>
						<form th:action="@{/home}" method="GET">
							<button type="submit">Current Month</button>
						</form>
					</td>
					<td>
						<form th:action="'/home/'+${nextMonthYear}+'/'+${nextMonth}" method="GET">
							<button type="submit">Next Month</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div id="catSpendsDiv">
			<section  th:include="@{CategorySpendsFragment} :: fragment" th:with="maincategories=${categorySpends}"></section>
		</div>
</body>

</html>