<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1" />
	<title>My Finance App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
	<script type="text/javascript" th:src="@{/assets/js/tree.js}"></script>

</head>

<body>
	<div>
		<div>
			<div class="topnav">
				<a class="active" href="/home">Home</a>
				<a href="/Transactions">Transactions</a>
				<a href="/Categorys">Categorys</a>
				<a href="/Accounts">Accounts</a>
				<a href="/Institutions">Institutions</a>
				<a href="/AccountTypes">Account Types</a>

			</div>
		</div>
		<div id="script">
			<script>
				var data;
				$(document).ready(function () {
					$.getJSON("/api/categorySpends", function (result) {
						$.each(result, function (key, value) {
							//alert(value.name);	
							$("#table").append("<tr><td>" + value.name + "</td><td align = 'right'>" + value.amount + "</td></tr>");
						});
						data = result;
						//alert(JSON.stringify(data));
						for (let i = 0; i < data.length; i++) {
							let obj = data[i];
							if(obj.name==='Home'){
								var ul = document.createElement('ul');
								ul.setAttribute("id", 'ul' + obj.id);
								ul.setAttribute("class", "nested");
								var li = document.createElement('li');
								li.setAttribute("id", obj.id);
								li.appendChild(document.createTextNode(obj.name + '-->' + obj.amount.format(2,3,',','.')));
								ul.appendChild(li);
								$("#tree").append(ul);
							}
							if (obj.parentCategory ) {
								var existingUL = document.getElementById('ul' + obj.parentCategory.id);
								//alert("existing " + existingUL);
								if (existingUL) {
									var liParent = document.getElementById(obj.parentCategory.id);
									var ul = document.createElement('ul');
									ul.setAttribute("id", 'ul' + obj.id);
									ul.setAttribute("class", "nested");
									var li = document.createElement('li');
									li.setAttribute("id", obj.id);
									li.appendChild(document.createTextNode(obj.name + '-->' + obj.amount.format(2,3,',','.')));
									ul.appendChild(li);
									liParent.appendChild(ul);
								} else {
									var ul = document.createElement('ul');
									ul.setAttribute("id", 'ul' + obj.id);
									ul.setAttribute("class", "nested");
									var li = document.createElement('li');
									li.setAttribute("id", obj.id);
									li.appendChild(document.createTextNode(obj.name + '-->' + obj.amount.format(2,3,',','.')));
									ul.appendChild(li);
									$("#tree").append(ul);
								}
							}
						}
					});

				});
				/**
				 * Number.prototype.format(n, x, s, c)
				 * 
				 * @param integer n: length of decimal
				 * @param integer x: length of whole part
				 * @param mixed   s: sections delimiter
				 * @param mixed   c: decimal delimiter
				 */
				Number.prototype.format = function (n, x, s, c) {
					var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
						num = this.toFixed(Math.max(0, ~~n));

					return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
				};
			</script>
		</div>
		<div id="tree" />
	</div>
</body>

</html>