*/.project
**/.classpath
target
**/.settings
*/target
*/.DS_Store
.DS_Store
.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.metadata/
**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store