<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="provider-services.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" /><!-- Rollover at 
			midnight each day. -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Date, Class name, Method Name, App Message -->
			<param name="ConversionPattern" value="%d %-5p: %c   %m%n" />
		</layout>
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d LogLevel=%p my_appid=%X{my_appid} intuit_tid=%X{tid} provider_tid=%X{provider_tid} class=%c %m%n" />
		</layout>
	</appender>

	<category additivity="true" name="com.intuit">
		<priority value="INFO" />
	</category>

	<root>
		<!-- <level value="DEBUG" /> -->
		<level value="INFO" />		
		<!-- <appender-ref ref="FILE" /> -->
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
