<html>

<head>
	<title>Institutions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div class="topnav">
			<a href="/home">Home</a>
			<a href="/Transactions">Transactions</a>
			<a href="/Categorys">Categories</a>
			<a class="active" href="/Accounts">Accounts</a>
			<a href="/Institutions">Institutions</a>
			<a href="/AccountTypes">Acount Types</a>

		</div>
	</div>
	<h2>Add Account</h2>
	<form action="#" th:action="@{/saveAccount}" th:object="${account}" method="POST">
		<input type="text" th:field="*{name}" placeholder="Account Name" class="form-control mb-4 col-4">
		<select th:field="*{accountType}">
			<option th:each="accountType : ${accountTypeList}" th:value="${accountType.id}"
				th:text="${accountType.name}"></option>
		</select>		
		<select th:field="*{institution}">
			<option th:each="institution : ${institutionList}" th:value="${institution.id}"
				th:text="${institution.name}"></option>
		</select>
		<input type="text" th:field="*{transactionBalance}" placeholder="transactionBalance"
			class="form-control mb-4 col-4">
		<button type="submit" class="btn btn-info col-2">Save Account</button>

	</form>
	<h2>Existing Account</h2>
	<div class="container my-2" align="left">

		<h3>Account List</h3>
		<table style="width:50%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Name</th>
					<th>Account Type</th>
					<th>Institution</th>
					<th>Balance</th>
					<th>Update/Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${accountList}">
					<td th:text="${account.name}">gfdfd</td>
					<td th:text="${account.accountType.name}"></td>
					<td th:text="${account.institution.name}"></td>
					<td th:text="${account.transactionBalance}"></td>
					<td> <a th:href="@{/showFormForAccountUpdate/{id}(id=${account.id})}"
							class="btn btn-primary">Update</a>
						<a th:href="@{/deleteAccount/{id}(id=${account.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>