<html>

<head>
	<title>Institutions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div class="topnav">
			<a href="home">Home</a>
			<a href="/Transactions">Transactions</a>
			<a href="/Categorys">Categories</a>
			<a class="active" href="/Accounts">Accounts</a>
			<a href="/Institutions">Institutions</a>
			<a href="/AccountTypes">Acount Types</a>

		</div>
	</div>
	<div class="container">
		<h1>Accounts</h1>
		<hr>
		<h2>Update Accounts</h2>

		<form action="#" th:action="@{/saveAccount}" th:object="${account}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{name}" class="form-control mb-4 col-4">
			<select th:field="*{accountType}">
				<option th:each="accountType : ${accountTypeList}" th:value="${accountType.id}"
					th:text="${accountType.name}"></option>
			</select>
			<select th:field="*{institution}">
				<option th:each="institution : ${institutionList}" th:value="${institution.id}"
					th:text="${institution.name}"></option>
			</select>
			<input type="text" th:field="*{transactionBalance}" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Update account</button>
		</form>

		<hr>

		<a th:href="@{/}">Back to Accounts List</a>
	</div>
</body>

</html>