#ius-sign-in-widget { min-height: 680px; }
#ius-sign-in-widget div.ius { width:320px }
#ius-sign-in-widget #ius-verify-ticket { width:400px }
/*-- MOBILE WEB -- */
@media only screen and (max-width: 979px) {
    #ius-sign-in-widget { 
        min-height: auto !important;
        width: auto !important;
    }
    #ius-sign-in .error { font-weight: bold; }
}
@media only screen and (max-width:480px) {
    #ius-sign-in .main {
       border: 0 !important;
       padding: 0 !important;
    }
}