<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d level=%p app_class=%c app_method=%M:%L : %m%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/ticketservice.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/driverservice_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d level=%p app_class=%c app_method=%M:%L : %m%n</Pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>