<html>

<head>
	<title>Institutions</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div class="topnav">
			<a href="/home">Home</a>
			<a href="/Transactions">Transactions</a>
			<a href="/Categorys">Categorys</a>
			<a href="/Accounts">Accounts</a>
			<a class="active" href="/Institutions">Institutions</a>
			<a href="/AccountTypes">Acount Types</a>

		</div>
	</div>
	<h2>Add Institution</h2>
	<form action="#" th:action="@{/saveInstitution}" th:object="${institution}" method="POST">
		<input type="text" th:field="*{name}" placeholder="Insitution Name" class="form-control mb-4 col-4"> <input
			type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4">

		<button type="submit" class="btn btn-info col-2">Save
			Institution</button>
	</form>
	<h2>Existing Institutions</h2>
	<div class="container my-2" align="left">

		<h3>Insitutions List</h3>
		<table style="width:50%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="institution : ${institutionList}">
					<td th:text="${institution.name}"></td>
					<td th:text="${institution.description}"></td>
					<td> <a th:href="@{/showFormForInstitutionUpdate/{id}(id=${institution.id})}"
							class="btn btn-primary">Update</a>
						<a th:href="@{/deleteInstitution/{id}(id=${institution.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>