<html>
<head th:insert="~{header.html ::header}"></head>
<body>
	<div>
		<div th:insert="~{TopNavigation.html ::topNavigation('Institutions')}"></div>
	</div>
	<br />



	<div class="container my-2" align="left">

		<h3>Insitutions</h3>
		<br />
		<button class="addButtonClass" type="button" th:onclick="|window.location.href='/addnewInstitution'|">Add Institution</button>
		<br /><br />
		<table style="width:80%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th width="10%">Update</th>
					<th width="10%">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="institution : ${institutionList}">
					<td th:text="${institution.name}"></td>
					<td th:text="${institution.description}"></td>
					<td> <a th:href="@{/showFormForInstitutionUpdate/{id}(id=${institution.id})}"
							class="update-delete-button">Update</a></td>
					<td>
						<a th:href="@{/deleteInstitution/{id}(id=${institution.id})}"
							class="update-delete-button">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>