<html>
<head th:include="header.html ::header"></head>
<body>
	<div>
		<div th:insert="TopNavigation.html ::topNavigation('Institutions')"></div>
	</div>
	<div class="container">
		
		<br><h2>Update Institution</h2>
		<br /><br />
		<form action="#" th:action="@{/saveInstitution}" th:object="${institution}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<label>Name of Institution
				<input type="text" th:field="*{name}" class="form-control mb-4 col-4">
			</label><label>Description
				<input type="text" th:field="*{description}" class="form-control mb-4 col-4">
			</label>
			<button type="submit" class="addButtonClass">Update Institution</button>
		</form>
		<br><br>
		<hr>
		<br>
		<a th:href="@{/Institutions}">Back to Institutions List</a>
	</div>
</body>

</html>