
.ius-reset article, .ius-reset aside, .ius-reset details, .ius-reset figcaption, .ius-reset figure, .ius-reset footer, .ius-reset header, .ius-reset hgroup, .ius-reset main, .ius-reset nav, .ius-reset section, .ius-reset summary {
    display: block;
}
.ius-reset audio, .ius-reset canvas, .ius-reset video {
    display: inline-block;
}
.ius-reset audio:not([controls]) {
    display: none;
    height: 0;
}
.ius-reset [hidden], .ius-reset template {
    display: none;
}
.ius-reset html {
    font-family: sans-serif;
}
.ius-reset body {
    margin: 0;
}
.ius-reset a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ius-reset a:focus {
    outline: thin dotted;
}
.ius-reset a:active, .ius-reset a:hover {
    outline: 0 none;
}
.ius-reset h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.ius-reset abbr[title] {
    border-bottom: 1px dotted;
}
.ius-reset b, .ius-reset strong {
    font-weight: bold;
}
.ius-reset dfn {
    font-style: italic;
}
.ius-reset hr {
    -moz-box-sizing: content-box;
    height: 0;
}
.ius-reset mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
.ius-reset code, .ius-reset kbd, .ius-reset pre, .ius-reset samp {
    font-family: monospace,serif;
    font-size: 1em;
}
.ius-reset pre {
    white-space: pre-wrap;
}
.ius-reset q {
    quotes: "Ò" "Ó" "Ô" "Õ";
}
.ius-reset small {
    font-size: 80%;
}
.ius-reset sub, .ius-reset sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.ius-reset sup {
    top: -0.5em;
}
.ius-reset sub {
    bottom: -0.25em;
}
.ius-reset img {
    border: 0 none;
}
.ius-reset svg:not(:root) {
    overflow: hidden;
}
.ius-reset figure {
    margin: 0;
}
.ius-reset fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.ius-reset legend {
    border: 0 none;
    padding: 0;
}
.ius-reset button, .ius-reset input, .ius-reset select, .ius-reset textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.ius-reset button, .ius-reset input {
    line-height: normal;
}
.ius-reset button, .ius-reset select {
    text-transform: none;
}
.ius-reset button, .ius-reset html input[type="button"], .ius-reset input[type="reset"], .ius-reset input[type="submit"] {
    cursor: pointer;
}
.ius-reset button[disabled], .ius-reset html input[disabled] {
    cursor: default;
}
.ius-reset input[type="checkbox"], .ius-reset input[type="radio"] {
    padding: 0;
}
.ius-reset input[type="search"] {
    -moz-box-sizing: content-box;
}
.ius-reset button::-moz-focus-inner, .ius-reset input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.ius-reset textarea {
    overflow: auto;
    vertical-align: top;
}
.ius-reset table {
    border-collapse: collapse;
    border-spacing: 0;
}
