
.ius-hosted-ui .ius-hosted-ui-main-header {
    border-bottom: 2px solid #94B5E0;
}
.ius-hosted-ui .ius-hosted-ui-main-footer, .ius-hosted-ui .ius-hosted-ui-footer-container a {
    color: #4E6FA2;
}
.ius-hosted-ui .ius-hosted-ui-main-footer a:hover {
    color: #2593EB;
}
