<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>game29</display-name>
	<welcome-file-list>
		<welcome-file>play.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>PlayerAction</servlet-name>
		<servlet-class>org.personal.controller.PlayerAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshAction</servlet-name>
		<servlet-class>org.personal.controller.RefreshAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>org.personal.controller.LoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RefreshAction</servlet-name>
		<url-pattern>/refresh</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayerAction</servlet-name>
		<url-pattern>/playerAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/loginAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.nklmthr.games.game29.restservices</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>