<html>

<head>
	<title>AccountTypes</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/styles.css}" />
</head>

<body>
	<div>
		<div th:insert="headerFragment.html ::header('AccountTypes')"></div>
	</div>
	<br>
	<br>
	<div class="container">
		<h2>Update AccountType</h2>
		<br><br>
		<form action="#" th:action="@{/saveAccountType}" th:object="${accountType}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<label>Account Type Name
				<input type="text" th:field="*{name}">
			</label>
			<label>Description
				<input type="text" th:field="*{description}">
			</label>
			<label>Classification
				<input type="text" th:field="*{classification}">
			</label>
			<button type="submit" class="btn btn-info col-2">Update AccountType</button>
		</form>
		<br>
		<br>
		<hr>
		<a th:href="@{/AccountTypes}">Back to AccountType List</a>
	</div>
</body>

</html>