<html>

<head th:insert="~{header.html ::header}"></head>

<body>
	<div>
		<div th:insert="~{TopNavigation.html ::topNavigation('BalanceSheet')}"></div>
	</div>
	<br>
	<br>
	<form th:action="'/generateMonthEndReport'" method="GET">
		<button class="navButtonClass" type="submit">Generate Closing Report for Today</button>
	</form>
	<br/>
	<form th:action="'/fetchReportForMonth'" method="GET">
		<input type="date" th:name="dateStr"/>
		<button class="navButtonClass" type="submit">Fetch Report for Month</button>
	</form>
	
	
	<br />
	<span th:text="${#dates.format(monthlyBalanceSheetDate, 'dd-MM-yyyy')}"></span>
	<table width="100%">
		<tr>
			<th>Classification</th>
			<th>Balance</th>
		</tr>
		<tr th:each="monthlyBalance : ${monthlyBalanceSheet}">
			<td th:text="${monthlyBalance.accountSummaryType}"></td>
			<td th:text="${monthlyBalance.amount}"></td>
		</tr>
	</table>
	<br /> Balance Sheet
</body>
</html>