<html>

<head th:insert="~{header.html ::header}"></head>

<body>
	<div>
		<div th:insert="~{TopNavigation.html ::topNavigation('BalanceSheet')}"></div>
	</div>
	<br>
	<br>
	<form th:action="'/generateMonthEndReport'" method="GET">
		<button class="navButtonClass" type="submit">Generate Closing
			Report for Today</button>
	</form>
	<br />
	<form th:action="'/fetchReportForMonth'" method="GET">
		<input type="date" th:name="dateStr" />
		<button class="navButtonClass" type="submit">Fetch Report for
			Month</button>
	</form>


	<br />
	<table border="2">
		<thead>
			<tr class="headings">
				<th th:if=" ${monthlyBalanceSheet.dates.size > 0}">Classification</th>
				<th th:each="date: ${monthlyBalanceSheet.dates}"
					class="column-title" th:text="${#dates.format(date, 'dd-MMM-yyyy')}" />
			</tr>
		</thead>

		<tbody>

			<tr th:each="row: ${monthlyBalanceSheet.rows}" id="tablerow">
				<td th:text="${row.get('Classification')}"></td>
				<td align="right" th:each="date: ${monthlyBalanceSheet.dates}"
					th:text="${#numbers.formatDecimal(row.get(date.toString()), 2, 'COMMA', 2, 'POINT')}"></td>
			</tr>
			<tr id="tablerow">
				<td>Summary</td>
				<td align="right" th:each="date: ${monthlyBalanceSheet.dates}"
					th:text="${#numbers.formatDecimal(sumamryList.get(date.toString()), 2, 'COMMA', 2, 'POINT')}"></td>
			</tr>
			
		</tbody>
	</table>
	<br /> Balance Sheet
</body>
</html>